/* radio */
.jcf-radio {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #b8c3c9;
	border-radius: 9px;
	margin: 0 3px 0 0;
	width: 16px;
	height: 16px;
}
.jcf-radio span {
	display: none;
	vertical-align: top;
	border-radius: 3px;
	background: #000;
	margin: 5px 5px 0;
	width: 6px;
	height: 6px;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-focus {border-color: #0bb;}
.jcf-radio.jcf-checked span {display: inline-block;}
.jcf-radio.jcf-disabled {background: #ddd;}
.jcf-radio.jcf-pressed span { transition: transform 0.1s linear; transform: scale(0.75);}

/* checkbox */
.jcf-checkbox {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #b8c3c9;
	border-radius: 2px;
	margin: 0 3px 0 0;
	width: 16px;
	height: 16px;
}
.jcf-checkbox span {
	display: none;
	text-align: center;
	vertical-align: top;
	margin: 1px 1px 0;
	line-height: 16px;
	font-weight: bold;
}
.jcf-checkbox span:before {
	content: "\2713";
}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-focus {border-color: #0bb;}
.jcf-checkbox.jcf-checked span {display: block;}
.jcf-checkbox.jcf-disabled {background: #ddd;}
.jcf-checkbox.jcf-pressed span { transition: transform 0.2s linear; transform: scale(0.75);}

/* button */
.jcf-button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background: #fff;
	border: 1px solid #b8c3c9;
	border-radius: 5px;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	line-height: 28px;
	height: 28px;
}
.jcf-button .jcf-real-element {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	outline: none;
	opacity: 0;
	padding: 0;
	margin: 0;
	border: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.jcf-button.jcf-focus {border-color: #0bb;}
.jcf-button.jcf-disabled {background: #ddd;}
.jcf-button.jcf-pressed { transition: transform 0.2s linear; transform: scale(0.95);}

/* file */
.jcf-file {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
}
.jcf-file .jcf-real-element {
	position: absolute;
	font-size: 100px;
	height: 100px;
	margin: 0;
	right: -50%;
	left: -50%;
	top: 0;
}
.jcf-file .jcf-fake-input {
	border: 1px solid #b8c3c9;
	border-width: 1px 0 1px 1px;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	text-overflow:ellipsis;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
	background: #fff;
	padding: 0 8px;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	width: 125px;
	margin: 0 -3px 0 0;
}
.jcf-file .jcf-upload-button {
	vertical-align: top;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #b8c3c9;
	border-radius: 5px;
	background: #fff;
	padding: 0 10px;
	line-height: 28px;
	height: 28px;
}
.jcf-file.jcf-disabled .jcf-fake-input {
	background: #ddd;
	color: #888;
}
.jcf-file.jcf-disabled .jcf-upload-button {
	background: #ddd;
	color: #888;
}
.jcf-file.jcf-focus .jcf-fake-input,
.jcf-file.jcf-focus .jcf-upload-button {border-color: #0bb;}

/* scrollbars */
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}
.jcf-scrollable-wrapper .jcf-scrollable {
	border:1px solid #b8c3c9;
	border-width: 1px 0 1px 1px;
}
.jcf-scrollable-wrapper:before {
	border:1px solid #b8c3c9;
	border-width: 0 1px 1px 0;
	position: absolute;
	background: #fff;
	z-index: -1;
	content: '';
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
}
.jcf-scrollbar-vertical {
	border:1px solid #b8c3c9;
	border-width: 0 1px;
	position: absolute;
	background: #e7e7e7;
	cursor: default;
	width: 14px;
	bottom: 0;
	right: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	border:1px solid #b8c3c9;
	background: #fff;
	text-align: center;
	border-width: 1px 0;
	font-size: 9px;
	line-height: 14px;
	height: 14px;
	width: 14px;
	left: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec:before {
	content: '\25B2';
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
	content: '\25BC';
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	border:1px solid #b8c3c9;
	border-width: 1px 0;
	background: #fff;
	height: 30px;
	width: 14px;
	left: 0;
}
.jcf-scrollbar-horizontal {
	border: 1px solid #b8c3c9;
	border-width: 0 0 1px;
	position: absolute;
	background: #e7e7e7;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc{
	border:1px solid #b8c3c9;
	border-width: 0 1px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	background: #fff;
	font-size: 9px;
	line-height: 15px;
	height: 14px;
	width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc{
	left: auto;
	right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec:before {
	content: '\25C0';
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc:before {
	content: '\25B6';
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	position: relative;
	display: inline-block;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	border:1px solid #b8c3c9;
	border-width: 0 1px;
	background: #fff;
	position: absolute;
	margin-left: -1px;
	top: 0;
	left: 0;
	height: 14px;
}

/* select */
.jcf-select {
	border: 1px solid #b8c3c9;
	background: #fff;
	display: inline-block;
	position: relative;
	vertical-align: top;
	border-radius: 3px;
	margin: 0 0 12px;
	height: 26px;
	min-width: 150px;
}
.jcf-select.jcf-drop-active {
	border-radius: 3px 3px 0 0;
}
.jcf-select-drop *,
.jcf-select.jcf-focus,
.jcf-select.jcf-focus .jcf-select-opener {
	border-color: #0bb !important;
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	display: block;
	font-size: 13px;
	line-height: 26px;
	margin: 0 35px 0 8px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	cursor: default;
}
.jcf-select .jcf-select-opener {
	border-left: 1px solid #b8c3c9;
	position: absolute;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	width: 29px;
	height: 26px;
	margin-top: -13px;
	right: 0;
	top: 50%;
}
.jcf-select .jcf-select-opener:before {
	content: '\25BC';
}
.jcf-select.jcf-disabled {
	background: #ddd;
	color: #888;
	cursor: default;
}
body > .jcf-select-drop {
	position: absolute;
	overflow: hidden;
	margin: -1px 0 0;
	z-index: 9999;
	top: 0;
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #0bb;
	border-radius: 3px;
}
.jcf-select-drop .jcf-scrollbar-vertical {border-right: none;}
.jcf-select-drop .jcf-scrollbar-inc {border-bottom: none;}
.jcf-select-drop .jcf-scrollbar-dec {border-top: none;}

.jcf-select .jcf-select-drop {
	position: absolute;
	z-index: 9999;
	margin-top: 0px;
	top: 100%;
	left: -1px;
	right: -1px;
}

/* multiple select / list box styles */
.jcf-list-box {
	display: inline-block;
	border: 1px solid #b8c3c9;
	border-radius: 3px;
	overflow: hidden;
	min-width: 200px;
	margin: 0 15px;
}
.jcf-list-box .jcf-scrollbar-vertical {border-right: none;}
.jcf-list-box .jcf-scrollbar-inc {border-bottom: none;}
.jcf-list-box .jcf-scrollbar-dec {border-top: none;}

.jcf-list-box.jcf-focus,
.jcf-list-box.jcf-focus * {
	border-color: #0bb !important;
}
.jcf-list-box.jcf-focus .jcf-list .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}
.jcf-list .jcf-selected {
	font-weight: bold;
}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-list-box .jcf-list .jcf-selected,
.jcf-list .jcf-hover {
	background: #f1f1f1;
	color: #333;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

/* other styles */
.jcf-textarea {
	border: 1px solid #b8c3c9;
	border-radius: 3px;
	box-sizing: content-box;
	display: inline-block;
	position: relative;
}
.jcf-textarea.jcf-focus,
.jcf-textarea.jcf-focus * {
	border-color: #0bb;
}
.jcf-textarea textarea {
	padding: 8px 10px;
	border: none;
	margin: 0;
}
.jcf-textarea .jcf-scrollbar-horizontal {
	display: none;
	height: 0;
}
.jcf-textarea .jcf-scrollable-wrapper:before {
	display: none;
}
.jcf-textarea .jcf-scrollbar-vertical {border-width: 0 0 0 1px;}
.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-dec {border-top: none;}
.jcf-textarea .jcf-scrollbar-vertical .jcf-sc1rollbar-inc {border-bottom: none;}

.jcf-textarea .jcf-resize {
	background: #fff;
	position: absolute;
	text-align: center;
	cursor: se-resize;
	text-indent: 1px;
	font-weight: bold;
	line-height: 15px;
	font-size: 12px;
	height: 15px;
	width: 15px;
	bottom: 0;
	right: 0;
}
.jcf-textarea .jcf-resize:before {
	content: '\22f0';
}