/* radio */
.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	border-radius: 9px;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-radio span{
	display:none;
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
	background:#777;
	border-radius:100%;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked span {display:block;}

/* checkbox */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:4px;
	width:8px;
	top:50%;
	left:50%;
	margin:-7px 0 0 -6px;
	border:3px solid #777;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {margin:-4px 0 0 -5px;}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}

/* button */
.jcf-button {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	border: 1px solid #777;
	background: #fff;
	margin: 0 10px 10px 0;
	padding: 5px 10px;
}
.jcf-button .jcf-real-element {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	outline: none;
	opacity: 0;
	padding: 0;
	margin: 0;
	border: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

/* file */
.jcf-file {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.jcf-file .jcf-real-element {
	position: absolute;
	font-size: 200px;
	height: 200px;
	margin: 0;
	right: 0;
	top: 0;
}
.jcf-file .jcf-fake-input {
	display: inline-block;
	text-overflow:ellipsis;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
	border: 1px solid #777;
	padding: 0 8px;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	width: 125px;
}
.jcf-file .jcf-upload-button {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #777;
	margin: 0 0 0 -1px;
	padding: 0 10px;
	line-height: 28px;
	height: 28px;
}

/* scrollbars */
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}
.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #e3e3e3;
	width: 14px;
	bottom: 0;
	right: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: #bbb;
	height: 14px;
	width: 14px;
	left: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #888;
	height: 1px;
	width: 14px;
}
.jcf-scrollbar-horizontal {
	position: absolute;
	background: #e3e3e3;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #bbb;
	height: 14px;
	width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: relative;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: #888;
	height: 14px;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec, 
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}

/* select */
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #777;
	background: #fff;
	margin: 0 0 12px;
	min-width: 150px;
	height: 26px;
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 13px;
	line-height: 26px;
	margin: 0 35px 0 8px;
}
.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: #aaa;
	width: 26px;
	bottom: 0;
	right: 0;
	top: 0;
}
body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}
.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #f00;
}

/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

/* other styles */
.jcf-textarea {
	border: 1px solid #b8c3c9;
	box-sizing: content-box;
	display: inline-block;
	position: relative;
}
.jcf-textarea .jcf-scrollbar-horizontal {
	display: none;
	height: 0;
}
.jcf-textarea textarea {
	padding: 8px 10px;
	border: none;
	margin: 0;
}
.jcf-textarea .jcf-resize {
	position: absolute;
	text-align: center;
	cursor: se-resize;
	background: #e3e3e3;
	font-weight: bold;
	line-height: 15px;
	text-indent: 1px;
	font-size: 12px;
	height: 15px;
	width: 14px;
	bottom: 0;
	right: 0;
}
.jcf-textarea .jcf-resize:before {
	border: 1px solid #000;
	border-width: 0 1px 1px 0;
	display: block;
	margin: 4px 0 0 3px;
	width: 6px;
	height: 6px;
	content: '';
}

/* common styles */
.jcf-disabled {background: #ddd !important;}
.jcf-focus, .jcf-focus * {border-color: #f00 !important;}